.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1 {
    font-size: 30px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
}
article h2 {
    font-size: 30px;
    margin: auto;
    text-align: center;
}
